.House {
    position: relative;
    background-color: #dedede;
    margin: 20px;
    display: flex;
    padding: 10px;
}
.House-img {
    width: 200px;
    max-height: 150px;
    margin-right: 10px;
}
.House-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #dedede;
}