@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    font-family: 'Open Sans', sans-serif;
}

.App {
    background-color: #afd3c0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.button {
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
input {
    border: solid .5px #3b5249;
    border-radius: 2px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    margin: 15px;
}